h4 Check out posts below--
each item in items
	pre(style='white-space:pre;')
		| Title: <a href="#" onClick="post('#{item.data.id}')">#{item.data.title}</a>
		| UpVotes: #{item.data.ups}
		| Author: #{item.data.author}
		| Subreddit (Genre) : #{item.data.subreddit}
		| Controversy Level : #{item.data.controversiality}
		| Url: <a href="#{item.data.url}">#{item.data.url}</a>
